* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 35px;
}

.logo img {
    width: 280px;
    height: 140px;
    margin-left: 5px;
}

.nav a {
    padding-right: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover {
    color: #d4af7a;
}

button {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: white;
    color: black;
}

button:hover {
    background-color: navy;
    color: white;
}

.click a {
    color: white;
    font-size: 30px;
    padding-left: 10px;
}